.format {
    border: 2px solid black;
    width: 40%;
    max-width: 400px; 
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:  auto; 
    padding: 20px; 
    background-color: rgb(128, 234, 199);
  }
.Labell{
  font-size: 30px;
  font-weight: 900;
}
.Button{
  background-color: blue;
  color: white;
  font-size: 30px;
  font-weight: 700;
}
input {
    width: 100%;
    max-width: 300px; 
    height: 30px;
    margin: 5px 0; 
}
  .FormStyle {
    text-align: center;
  }
  
  button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
  }